body {
	margin: 0;
	font-family: 'Pangolin', cursive;
}

/* Loading Szene */

#loading{
	display: table;
	position: fixed;
	width: 100vw;
	height: 100vw;
	background-color: #EEE;
	/*z-index: 10;*/
    
}

#loading_animation{
	position: relative;
  margin: auto;	
  margin-top: 20%;
	width: 100px;
	height: 100px;	
	background: url('../img/flasche.png') no-repeat center;
	background-size: 30%;
	/*background-color: red;*/
}

#loaded {
	display: none;
}

.viewport {
	width: 100vw;
	height: 100vh;
	position: fixed;
}

/* intro */

#intro {
	display: none;
	height: 100vh;
	width: 100vw;
	background: url('../img/background.jpg') no-repeat center;
	background-size: 100%;
}

#intro_man1 {
	position: absolute;
	bottom: 0px;
	left: 250px;
	width: 300px;
	height: 500px;
	background: url('../img/man1.png') no-repeat;
	background-size: contain;
}

#intro_man2 {
	position: absolute;
	bottom: 0px;
	left: 250px;
	width: 305px;
	height: 540px;
	background: url('../img/man2b.png') no-repeat;
	background-size: contain;
}

#intro_man3 {
	position: absolute;
	bottom: 0px;
	left: 250px;
	width: 300px;
	height: 500px;
	background: url('../img/man3.png') no-repeat;
	background-size: contain;
}

#flasche {
	position: absolute;
	top:370px;
	left: 540px;
	width: 100px;
	height: 100px;
	background: url('../img/flasche.png') no-repeat;
	background-size: contain;
	transform: rotate(40deg);
}

/* Szene - Story beginnen */

#story_container {
	/*position: absolute;*/
	display: none;
/*	top: 3200px;*/
	width: 500vw;
	height: 100vh;
	background: url('../img/Himmel.png') no-repeat;
	background-size: 100% 100%;
	/*background-color: red;*/
}

#meer {
	position: absolute;
	bottom: 0px;
	width: 300vw;
	height: 90%;
	background: url('../img/Meer.png') no-repeat;
	background-size: 100% 100%;
	z-index: 5;
    opacity: .8;
}

#boden {
	position: absolute;
	bottom: 0px;
	width: 200vw;
	height: 15%;
	background: url('../img/Boden2.png') no-repeat;
	background-size: 100% 100%;
	z-index: 10;
	
}


#berg2 {
	position: absolute;
	bottom: 0px;
	width: 200vw;
	height: 70%;
	background: url('../img/Berg.png') no-repeat;
	background-size: 100% 100%;
	z-index: 6;
	opacity: .4;
}

#stella {
	position: absolute;
	bottom: 200px;
	left: 200px;
	width: 240px;
	height: 160px;	
	background: url('../img/Stella.png') no-repeat;
	background-size: 100% 100%;
	z-index:20;
}

#flascheOben {
    position:absolute;
    width: 100px;
    height: 250px;
    background: url('../img/flasche.png') no-repeat;
    background-size: 70% 70%; 
    left:500px;
    bottom: 450px;
    transform: rotate(80deg);
}

#schildkroete{
    position: absolute;
    width: 240px;
    height: 200px;
    background: url(../img/Schildkroete.png);
    background-size: 100% 100%;
    /*background-color: red;*/
    bottom: 200px;
    left:1700px;
    z-index: 20;
    opacity: 0;
}

/*#stellaDialog{
    position: absolute;
	bottom: 200px;
	left: 200px;
	width: 240px;
	height: 160px;	
	background: url('../img/Stella.png') no-repeat;
	background-size: 100% 100%;
	z-index:20; 
}*/

#sprechblase_Stella_Schildkroete{
    position:absolute;
    bottom: 380px;
    left: 600px;
    width: 300px;
    height: 150px;
    background: url(../img/Sprechblase%202.png) no-repeat;
    background-size: 100% 100%;
    z-index:20;
    /*text-align: center;*/
}

.text_Stella_Schildkroete {
	position:relative;  
	margin: 40px 30px; 
    width: 230px; 
    height: 130px;
    text-align: center;
}
<<<<<<< HEAD


#sprechblase_Stella_Schildkroete .text_Stella_Schildkroete p:first-child {
    position:relative;  
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: justify;
=======
.text_Stella_Schildkroete p+p{
    position:absolute;
    font-size: 0.7em;
    font-style: normal;
    left: 27px;
    top:10px;
<<<<<<< HEAD
>>>>>>> 7afad30f5d74b8a1ee65f777216f42a9a7daedf8
=======
>>>>>>> 7afad30f5d74b8a1ee65f777216f42a9a7daedf8
    z-index: 20;
    /*background-color: yellow;*/
    

}

#sprechblase_Stella_Schildkroete .text_Stella_Schildkroete p:nth-child(2){
    position:relative;
    margin-top: -5px;
    margin-left: 15px;
    font-size: 1em;
    font-weight: bold;    
    text-align: justify;
    z-index: 20;    
}


<<<<<<< HEAD

#sprechblase_Schildkroete {
    position:absolute;    
    left: 530px;
    bottom: 360px;
    width: 300px;
    height: 200px;
=======
#sprechblase_Schildkroete{
    position:absolute;
    bottom: 400px;
    left: 200px;
    width: 200px;
    height: 100px;
<<<<<<< HEAD
>>>>>>> 7afad30f5d74b8a1ee65f777216f42a9a7daedf8
=======
>>>>>>> 7afad30f5d74b8a1ee65f777216f42a9a7daedf8
    background: url(../img/Sprechblase.png) no-repeat;
    background-size: 100% 100%;
    z-index:20;
}

<<<<<<< HEAD
.text_Schildkroete {
    position:relative;  
	margin: 50px 35px; 
    width: 230px; 
    height: 130px;
    text-align: center;
    
=======
#text_Schildkroete{
    position:absolute;
    font-size: 0.7em;
    font-style: normal;
    left: 40px;
    top:15px;
    z-index: 20;
    font-family: 'Aklatanic TSO';
    text-align: center;
<<<<<<< HEAD
>>>>>>> 7afad30f5d74b8a1ee65f777216f42a9a7daedf8
}

#sprechblase_Schildkroete .text_Schildkroete p:first-child {
	font-size: 1.6em;
	font-weight: bold;
	text-align: justify;
=======
>>>>>>> 7afad30f5d74b8a1ee65f777216f42a9a7daedf8
}

#sprechblase_Schildkroete .text_Schildkroete p:nth-child(2) {
	font-size: 1.4em;
	font-weight: bold;
	text-align: justify;
}