body {
	margin: 0;
	font-family: "Pangolin", cursive;
}

/* ===== Loading Szene ===== */

#loading{
    position: fixed;
    width: 100vw;
    height: 100%;
}

#loading_animation{
    background: url('../img/Oceallax.gif') no-repeat;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#loaded {
    display: none;
}

.viewport {
    position: fixed;
	width: 100vw;
	height: 100vh;	
}

/* ===== intro szene ===== */

#intro {
	display: none;
	height: 100vh;
	width: 100vw;
	background: url('../img/Intro.jpg') no-repeat center;
	background-size: cover;
}

#intro_man1,
#intro_man2,
#intro_man3 {
    position: absolute;
    top: 10vh;
	left: 20vw;
	width: 23vw;
	height: 100vh;  
}

#intro_man1 {
	background: url('../img/man1.png') no-repeat;
    background-size: 20vw;
}

#intro_man2 {
	background: url('../img/man2.png') no-repeat;
    background-size: 20vw;	
}

#intro_man3 {
	background: url('../img/man3.png') no-repeat;
    background-size: 20vw;
}

#flasche_pos1,
#flasche_pos2 {
	position: absolute;
	left: 50vw;
	width: 7vw;
	height: 7vw;
	background: url('../img/flasche.png') no-repeat;
	background-size: contain;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);    
}

#flasche_pos1 {
  top: 45vh;
}

#flasche_pos2 {
  top: 50vh;
}

/* ++++++++++++ Geschichte beginnt +++++++++++++++ */

/* ===== Umgebung unter Wasser ===== */

#story_container {
	display: none;  
	width: 500vw;
	height: 100vh;
	background: url('../img/Himmel.jpg') no-repeat;
	background-size: contain;
}

#meer {
	position: absolute;
	bottom: 0;
	width: 800vw;
	height: 90vh;
	background-image: url('../img/Meer.png');
	background-repeat: repeat-x;	
	background-size: 500vw 90vh;
	z-index: 4;
    opacity: .8;
    animation: floating_meer 8s ease infinite;
    -webkit-animation: floating_meer 8s ease infinite;
    -moz-animation: floating_meer 8s ease infinite;
}

@keyframes floating_meer {
    0%    {height: 92vh;} 
    50%   {height: 90vh;}
    100%  {height: 92vh;}
}

#boden {
	position: absolute;
	bottom: 0;
	width: 1200vw;
	height: 20vh;
	background: url('../img/Boden.png');
	background-repeat: repeat-x;	
	background-size: 250vw 20vh;
	z-index: 10;	
}

#berg {
	position: absolute;
	bottom: 0;
	width: 800vw;
	height: 60vh;
	background: url('../img/Berg.png');
	background-repeat: repeat-x;
	background-size: 500vw 60vh;	
    opacity: .4;
    z-index: 6;
}

#fischschwarm {
    position: relative;
    margin-top: 50vh;
    margin-left: 90vw;
    width: 35vw;
	height: 20vh;	
	background: url('../img/fishes2.png') no-repeat center;
	background-size: contain;
	z-index: 5;
    animation: floating_fishschwarm 7s ease infinite;
    -webkit-animation: floating_fishschwarm 7s ease infinite;
    -moz-animation: floating_fishschwarm 7s ease infinite;
}

@keyframes floating_fishschwarm {
    0%    {margin-top: 40vh; margin-left: 88vw} 
    50%   {margin-top: 36vh; margin-left: 90vw}
    100%  {margin-top: 40vh; margin-left: 88vw}
}

.bubble {
	position: absolute;
    left: 2vw;
    width: 10vw;
	height: 10vw;	
	background: url('../img/bubble.png') no-repeat;
	background-size: contain;
	z-index:10;
    animation: bubble_up 5s linear infinite;
    -webkit-animation: bubble_up 5s linear infinite;
    -moz-animation: bubble_up 5s linear infinite;
}   

@keyframes bubble_up {
    0%    {background-size: 5%; bottom: -20vh;} 
    25%   {background-size: 12%; bottom: -15vh; opacity: .8;}
    50%   {background-size: 20%; bottom: -7vh; opacity: .6;}
    75%   {background-size: 28%; bottom: 3vh; opacity: .5;}
    100%  {background-size: 38%; bottom: 15vh; opacity: .3;} 
}

#bubbles div:last-child{
    margin-left: 0.5vw;
    margin-bottom: 0.8vw;
}

#stella {
	display: block;
	position: absolute;
    left: -8vw;
    margin-bottom: 3vh;
	width: 11vw;
	height: 7vw;	
	background: url('../img/Stella.png') no-repeat;
	background-size: contain;
	z-index:20;
    animation: floating_tiere 5s linear infinite;
    -webkit-animation: floating_tiere 5s linear infinite;
    -moz-animation: floating_tiere 5s linear infinite; 
}

 @keyframes floating_tiere {
    0%    {bottom: 25vh}
    50%   {bottom: 23vh}
    100%  {bottom: 25vh}
} 

#flascheOben {
    position:absolute;
    left: 50vw;
    width: 110px;
    height: 150px;
    background: url('../img/flasche.png') no-repeat;
    background-size: contain; 
    animation: floating_flasche 4s linear infinite;
    -webkit-animation: floating_flasche 4s linear infinite;
    -moz-animation: floating_flasche 4s linear infinite;
}

@keyframes floating_flasche {
    0%    {bottom: 67vh}
    50%   {bottom: 70vh}
    100%  {bottom: 67vh}
}

/* ===== Stellas Gedanken ===== */

#stella_gedanken {
	position: absolute;	
    left: 40vw;
    bottom: 38vh;	
    width: 45vw;
    height: 18vw;
	background: url(../img/Denkblase.png) no-repeat;
    background-size: contain;
    z-index: 19;
	transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
	
}

#stella_gedanke_blaze {
	position: absolute;	
    top: -1vw;
    left: 8.5vw;
    width: 16vw;
    height: 24vh;
    padding-top: 2vw;
    font-size: 1.6vw;
    text-align: center;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg); 
    -moz-transform: rotate(-10deg); 	
}

 #stella_gedanken #stella_gedanke_blaze p:first-child {
	padding-top: 1vw;	
}

/* insel-gedanken */

 #stella_gedanken #stella_gedanke_blaze p:nth-child(3) {
    font-size: 1.8vw;
}

#stella_gedanken #stella_gedanke_blaze p:last-child {
    padding-top: 2vw;  
    font-size: 2vw;
} 

/* ===== Dialog mit Schildkroete ===== */

#schildkroete{
    position: absolute;
    left: 82vw;
    width: 18vw;
    height: 10vw;
	background: url(../img/Schildkroete.png) no-repeat;
    background-size: contain;
    z-index: 18;
    animation: floating_tiere 6s linear infinite;
    -webkit-animation: floating_tiere 6s linear infinite;
    -moz-animation: floating_tiere 6s linear infinite;
}

#sprechblase_Stella_Schildkroete,
#sprechblase_Stella_Seestern,
#sprechblase_Stella_Koralle,
#sprechblase_fische {
    position:absolute;
    bottom: 45vh;
    left: 38vw;
    width: 25vw;
    height: 16vw;
    background: url(../img/Sprechblase2.png) no-repeat;
    background-size: contain;
    z-index:17;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
}

.text_Stella_Schildkroete,
.text_Stella_Seestern,
.text_Stella_Koralle,
.text_fische {
    position: absolute;  
    top: 2vw;
    left: 3vw;
    width: 17vw;
    height: 12vw;    
    font-size: 1.7vw;
    text-align: center;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
}

#sprechblase_Stella_Schildkroete .text_Stella_Schildkroete p:first-child {
    padding-top: 3vw;
}

#sprechblase_Stella_Schildkroete .text_Stella_Schildkroete p:nth-child(2) {
    margin-top: -0.5vw;
}
 
#sprechblase_Stella_Schildkroete .text_Stella_Schildkroete p:nth-child(3) {
    padding-top: 3vw;
    font-size: 2vw;
}

#sprechblase_Stella_Schildkroete .text_Stella_Schildkroete p:nth-child(4) {
    padding-top: 1vw;
}  

#sprechblase_Stella_Schildkroete .text_Stella_Schildkroete p:last-child {
    margin-top: 0.35vw;
} 


#sprechblase_Schildkroete,
#sprechblase_Seestern,
#sprechblase_Koralle,
#sprechblase_Stella_Fische  {
    position:absolute;    
    left: 32vw;
    bottom: 44vh;
    width: 28vw;
    height: 17vw;
    background: url(../img/Sprechblase.png) no-repeat;
    background-size: contain;
    z-index:17;
}

.text_Schildkroete,
.text_Seestern,
.text_Koralle,
.text_Stella_Fische {
    position: absolute;  
    top: 2vw;
    left: 3vw;
    width: 17vw;
    height: 13vw;    
    font-size: 1.7vw;
    text-align: center;
    line-height: 2.4vw;
}

#sprechblase_Schildkroete .text_Schildkroete p:first-child {
    padding-top: 1.7vw;
}

#sprechblase_Schildkroete .text_Schildkroete p:nth-child(2) {
    padding-top: 1vw;
}

#sprechblase_Schildkroete .text_Schildkroete p:nth-child(3) {
    margin-top: 0.3vw;
    font-size: 1.5vw;
    line-height: 2vw;
}

#sprechblase_Schildkroete .text_Schildkroete p:nth-child(4) {
    margin-top: 1.2vw; 
    line-height: 2vw; 
}

/* ===== Dialog mit Seestern ===== */
#seestern{
    position: absolute;
    bottom: -3vh;
    left: 98vw;
    width: 28vw;
    height: 25vw;
	background: url(../img/Seestern.png) no-repeat;
    background-size: contain;
    z-index: 20;
}

.text_Stella_Seestern {
    padding-top: 1.6vw;
    font-size: 1.9vw;
    line-height: 2.4vw;
}

#sprechblase_Stella_Seestern .text_Stella_Seestern p:nth-child(2) {
    font-size: 3vw;
}

#sprechblase_Stella_Seestern .text_Stella_Seestern p:nth-child(3) {
    font-size: 2.2vw;
    line-height: 2.5vw;
}

#sprechblase_Stella_Seestern .text_Stella_Seestern p:nth-child(4) {
    margin-top: 1.1vw;
}

#sprechblase_Stella_Seestern .text_Stella_Seestern p:last-child {
    margin-top: 0.8vw;
} 

#sprechblase_Seestern {
    left: 38vw;
    bottom: 18vw;
} 

.text_Seestern {
    line-height: 2.2vw;
}

#sprechblase_Seestern .text_Seestern p:first-child {
    padding-top: 1vw;
    line-height: 2.3vw;
}

#sprechblase_Seestern .text_Seestern p:nth-child(2) {
    margin-top: 1vw;
    font-size: 1.5vw;
    line-height: 2.1vw;
}

#sprechblase_Seestern .text_Seestern p:nth-child(3) {
    margin-top: 0.5vw;
    font-size: 1.25vw;
    line-height: 1.9vw;
}

/* ===== Dialog mit Koralle ===== */

#koralle{
    position: absolute;
	bottom: 1vh;
    left: 100vw;
    width: 24vw;
    height: 22vw;
	background: url(../img/Koralle.png) no-repeat;
    background-size: contain;
    z-index: 18;
}

.text_Stella_Koralle {
	padding-top: 1vw;
    font-size: 1.9vw;
    line-height: 2.4vw;
}

#sprechblase_Stella_Koralle .text_Stella_Koralle p:nth-child(2) {
    padding-top: 0.9vw;
    font-size: 2.1vw;
    line-height: 2.6vw;
}

#sprechblase_Stella_Koralle .text_Stella_Koralle p:nth-child(3) {
    margin-top: 0.8vw;
}

#sprechblase_Koralle {
    left: 40vw;
    bottom: 16vw;
}

.text_Koralle {
    font-size: 1.6vw;
    line-height: 2.2vw;
}

#sprechblase_Koralle .text_Koralle p:first-child {
    font-size: 1.4vw;
    line-height: 1.9vw;
}

#sprechblase_Koralle .text_Koralle p:nth-child(2) {
    margin-top: 0.5vw;
    line-height: 2.1vw;
}

#sprechblase_Koralle .text_Koralle p:nth-child(4) {
    margin-top: 1.1vw;
    line-height: 2.1vw;
}

#sprechblase_Koralle .text_Koralle p:nth-child(5) {
    padding-top: 2.5vw;
    font-size: 1.9vw;
    line-height: 2.8vw;
}


/* ===== Dialog mit Ffische ===== */
#fische {
    position: absolute;
    bottom: 20vh;
    left: 58vw;
    width: 5vw;
    height: 5vw;
    background: url(../img/Fisch2.png) no-repeat;
    background-size: contain;
    z-index: 18;
    animation: floating_tiere 4s linear infinite;
    -webkit-animation: floating_tiere 4s linear infinite;
    -moz-animation: floating_tiere 4s linear infinite;
}

#sprechblase_Stella_Fische {
    left: 13vw;
    bottom: 37vh; 
}

.text_Stella_Fische {
    padding-top: 1.8vw;
    font-size: 2vw;
    line-height: 2.5vw;
}

#sprechblase_Stella_Fische .text_Stella_Fische p:last-child {
    margin-top: -1.4vw;
    font-size: 1.5vw;
    line-height: 2.2vw;
} 

#sprechblase_fische {
    left: 63vw;
    bottom: 22vw;
}

.text_fische {
    padding-top: 1.3vw;
}

#sprechblase_fische .text_fische p:nth-child(3) {
    margin-top: -1vw;
    font-size: 1.4vw;
}

#sprechblase_fische .text_fische p:nth-child(4),
#sprechblase_fische .text_fische p:last-child {
    margin-top: -0.5vw;
}

#sprechblase_fische .text_fische p:nth-child(5) {
    margin-top: 0;
}

#sprechblase_fische .text_fische p:nth-child(6) {
    margin-top: -2vw;
    font-size: 1.4vw;
}

#sprechblase_fische .text_fische p:nth-child(8) {
    margin-top: -1vw;
    font-size: 1.6vw;
}

/* ===== Plastikinsel ===== */

#plastik_insel {
    position:absolute;
     /* bottom: 60vh;  */
    margin-bottom: -10vh;
    left: 53vw;
    width: 70vw;
    height: 45vh;
    background: url(../img/insel.png) no-repeat;
    background-size: contain;
    z-index:18;
    animation: floating_insel 7s linear infinite;
    -webkit-animation: floating_insel 7s linear infinite;
    -moz-animation: floating_insel 7s linear infinite;
}

@keyframes floating_insel {
    0%    {bottom: 65%}
    50%   {bottom: 63%}
    100%  {bottom: 65%}
}

/* ===== Infotext =====*/

#infotext {
    position:absolute;     
    width: 100vw;
    height: 100vh;
    z-index:22;
}

#seifenblase_container {
    position: relative;
    margin: 2vw auto -1vw auto;
    width: 55vw;
    height: 48vw;
    background: url(../img/Seifenblase.png) no-repeat;
    background-size: 100% 102%;      
}

#seifenblase_text {
    position: absolute;  
    top: 8.5vw;
    left: 9.2vw;
    width: 36vw;
    height: 35vw;    
    font-size: 1.5vw;
    text-align: center;
    line-height: 2.1vw;
}

#seifenblase_container p:nth-child(3) {
    font-size: 1.35vw;
    line-height: 1.86vw;
}

#seifenblase_container p:nth-child(4) {
    padding-top: 1vw;
    font-size: 1.2vw;
    line-height: 1.65vw;
}

#seifenblase_container p:last-child {
    margin-top: 0.6vw;
    font-size: 1.3vw;
    line-height: 1.85vw;
}

/* ++++++++++++ Geschichte endet +++++++++++++++ */

/* Credit */
#ende {
    display: none;
    background: url(../img/Schatzkarte1.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

#ende h1 {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 30vh;
    font-style: italic;
    font-size: 3vw;
    color: saddlebrown;
    text-align: center;
    text-shadow: 2px 2px #d2a679;
    opacity: .8;
}

#ende h2 {
    position: relative;
    padding-top: -3vh;
    padding-bottom: -2vh;
    font-style: italic;
    font-size: 3vw;
    color: #996633;
    text-align: center;
    text-shadow: 2px 2px #d2a679;
    opacity: .8;    
}

#namen {
    position: relative;
    padding: 0;
    margin-top: 3vh;
    list-style: none;
    font-style: italic;
    font-weight: normal;
    font-size: 3vw;
    color: #996633;
    text-align: center;
    text-shadow: 2px 2px #d2a679;    
    line-height: 4vw;
    opacity: .9;
}

#footer {
    display: block;
    width: 100vw;
    height: 100vh;
}

#links {
    position: relative;
    margin-left: 34.5%;
    padding: 0;
    list-style: none;
    width: 100%;
    margin-top: 3%;
}

#links li {
    float: left;
    margin-left: 7%;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 8px;
}

#links a {
    color: saddlebrown;
    font-size: 24px;
    text-decoration: none;
}

 #wwf {
    width: 49px;
    margin-left: 20%;
    margin-top: 5%   
}

#plasticocean {
    width: 80px;
    height: 80px;
    border-radius: 8px;
} 

/* ++++++++++++ Responsiv - Fuer Kleinere Bildschirme +++++++++++++++ */

@media only screen and (max-width: 960px) {
    #seifenblase_container {
        margin-top: 15vw; 
    }
 
    #meer {
        background-size: 800vw 90vh;
    }

    #boden {
        background-size: 400vw 20vh;	
    }

    #berg {
        background-size: 800vw 60vh;	
    }

    @keyframes floating_tiere {
        0%    {bottom: 30vh}
        50%   {bottom: 28vh}
        100%  {bottom: 30vh}
    }

    #stella {
        width: 15vw;
        height: 11vw;	
    }

     #schildkroete{ 
        margin-bottom: 0vh;
        left: 83vw;
    }
    
    #fische {
        left: 65vw;
    }

    #sprechblase_Stella_Schildkroete,
    #sprechblase_Stella_Seestern,
    #sprechblase_Stella_Koralle {
        bottom: 48vh;
    }

    #sprechblase_fische {
        bottom: 55vh;
        left: 70vw;
    }

    #sprechblase_Schildkroete {
        left: 38vw;
        bottom: 46vh;
    }

    #sprechblase_Stella_Fische {
        bottom: 44vh;
        left: 14vw;
    }

    #plastik_insel {
        left: 38vw;
        margin-bottom: -15vh;
    }

    #ende h1 {
        font-size: 4vw;
    }

    #ende h2 {
        font-size: 4vw;
        padding-top: 10vh;
        padding-bottom: 3vh;
    }

    #namen {
        font-size: 3.5vw;
        line-height: 5vw;
    }

    #links {
         margin-left: 30vw; 
    }

} 

/* ++++++++++++ Font +++++++++++++++ */
@font-face {
    font-family: "Pangolin";
    src: url('../font/Pangolin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}